* {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}

input {
  width: 350px;
  height: 27px;
  border: 1px solid #c7c7c7;
}

a {
  text-decoration: none;
}

.header-container {
  display: none;
}

.aside-container {
  display: none;
}

body {
  background-color: #eceef1;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.signin-button {
  align-self: center;
  padding-right: 40px;
  padding-left: 20px;
}

.signin-button button {
  height: 35px;
}

.section-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-title p {
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
  color: #4c4c4c;
}

.form-subtitle {
  text-align: center;
}

.form-subtitle a {
  text-decoration: none;
  font-size: 12px;
  color: blue;
}

.form-subtitle p {
  color: #4c4c4c;
}

.article-container {
  border: 1px solid #c7c7c7;
  background-color: white;
  max-width: 450px;
  margin-bottom: 50px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-container p {
  padding-bottom: 7px;
  padding-top: 25px;
  color: #4c4c4c;
}

.footer-container {
  background-color: #eceef1;
  font-size: 12px;
  text-align: center;
}

.form-privacy-statement p {
  text-align: center;
  color: #4c4c4c;
  font-size: 12px;
  padding-top: 20px;
  line-height: 1.5;
  margin: 0 100px;
}

.form-footer p {
  text-align: center;
  color: #4c4c4c;
}

.forgot-password-link {
  text-align: right;
  font-size: 12px;
  line-height: 20px;
}

.form-password {
  color: #4c4c4c;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
}

.form-password p {
  font-size: 16px;
  text-align: left;
}

.header-title {
  text-align: center;
}

.header-links {
  text-align: center;
}

.sign-in-button {
  background: #0077c5 url('./img/login_icon.png') no-repeat center left;
  padding-left: 35px;
  padding-right: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 7px;
}

.create-button {
  background: #0077c5 url('./img/login_icon.png') no-repeat 95px center;
  padding-left: 35px;
  padding-right: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 7px;
  width: 350px;
  height: 45px;
}

.legal-privacy-security-links a {
  color: #4c4c4c;
}

footer {
  color: #4c4c4c;
  margin-bottom: 20px;
  line-height: 20px;
}

.form-footer {
  font-size: 10px;
  padding-bottom: 15px;
}

.form-submit {
  margin-top: 20px;
}

.void-heading {
  display: none;
}

.header-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.header-links div{
  font-family: sans-serif;
  font-size: 20px;
  color: #8d9096;
}

.form-privacy-statement a {
  color: blue;
}
