*{
  font-family:Helvetica,Helvetica,Arial,sans-serif;
}
.header-container{
  display: none;
}
.aside-container{
  display: none;
}
*{
    margin:0;
}
body{
  background-color:  #ECEEF1;
}

.nav-container{
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.signin-button{
  align-self: center;
  padding-right: 40px;
  padding-left: 20px;
  
}
.signin-button button{
  height: 35px;
}
.section-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-title p{
  text-align: center;
  padding: 10px 0px;
}
.form-subtitle{
  text-align: center;
}
.form-subtitle a{
  margin: 0 100px;
  text-decoration: none;
  font-size: 12px;
}

.article-container{
  border: 1px solid #C7C7C7;
  background-color: white;
  max-width: 500px;
}

.inputs-container{
  margin: 0 161px;
 
}
.inputs-container p{
  padding-bottom: 7px;
  padding-top: 25px;
}

.footer-container{
  background-color: gray;
  text-align: center;
}

.article-header-container{
}
.form-privacy-statement p{
  text-align: center;
}
.form-footer p{
    text-align:center;
}
.form-footer {
}

.forgot-password-link{
  text-align:right;
}

.header-title{
  text-align: center;
}
.header-links{
  text-align: center;
}
